\documentclass[11pt]{scrartcl}
\PassOptionsToPackage{usenames,dvipsnames,svgnames}{xcolor}
\usepackage{tikz}
\usetikzlibrary{arrows,positioning,automata}

\begin{document}

\begin{tikzpicture}[>=stealth',shorten >=1pt,node distance=3cm,on grid,initial/.style={}]

{% for node in nodes %}\node[state] ({{node}}) {${{node}}$};
{% endfor %}
\tikzset{mystyle/.style={->,double=orange}}
\tikzset{every node/.style={fill=white}}

\path
{% for src, dest in edges %}({{src}}) edge [mystyle] ({{dest}})
{% endfor %};

\end{tikzpicture}

\end{document}
